@page "/textinputexample"

<div style="width: 300px">
	<p><MudTextField Variant="@Variant.Filled" @bind-Value="@text1" T="double"></MudTextField></p>
	<p>@text1</p>

	<p>
		<MudTextField Variant="@Variant.Outlined" ValueChanged="@((args) => { text2 = args; })"
					  T="string" AdornmentText="cm" Adornment="Adornment.End"></MudTextField>
	</p>
	@if (!string.IsNullOrEmpty(text2))
	{
		<p>@text2 cm</p>
	}

	<p><MudTextField @bind-Value="@text3" T="string" Variant="@Variant.Filled" Lines="5" 
		Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.AccessAlarm"></MudTextField></p>

</div>

@code {

	double text1;
	string text2;
	string text3;

}
