<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<MudThemeProvider Theme="@Theme"/>
<MudDialogProvider />
<MudSnackbarProvider />

@code {

    MudTheme Theme = new MudTheme()
        {
            Palette = new Palette()
            {
                Primary = new MudBlazor.Utilities.MudColor(10, 100, 150, 0.9),
                AppbarBackground = new MudBlazor.Utilities.MudColor(10, 100, 150, 0.59)
            }
        };

}