<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
	MudTheme theme = new MudTheme()
		{
			LayoutProperties = new LayoutProperties()
			{
				// DefaultBorderRadius = "0px",
				// DefaultBorderWidth = "0px",
				// DefaultBorderColor = "#000000",
				// DefaultElevation = 0,
				// DefaultZIndex = 0,
			},
			Palette = new Palette()
			{
				Primary = new MudBlazor.Utilities.MudColor(50,68,150,100),
				Secondary = "#2b88d8",
				Background = new MudBlazor.Utilities.MudColor(50, 68, 150, 100),
				TextPrimary = "#000000",
				TextSecondary = "#000000",
				AppbarBackground = "#ffffff",
				AppbarText = "#000000",
			},
		};
}